a {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.image-form {
  width: 248px;
  display: flex;
  gap: 8px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.image-list {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
}
.photo-card {
  width: calc((100% - 48px) / 3);
  border: 2px solid #000000;
}
.photo {
  width: 100%;
}
.card-container {
  display: flex;
  text-align: center;
  gap: 12px;
}
.loader {
  display: block;
  width: 48px;
  height: 48px;
  border: 3px solid #000000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  position: relative;
  animation: rotation 1s linear infinite;
  margin: 60px auto;
}
.is-hidden {
  display: none;
}
